<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/images/{{ usuario.image }}" class="card-img-top" alt="Foto">
                <div class="card-body">
                    <h5 class="card-title">{{ usuario.name }}</h5>
                    <p class="card-text">Profesor universitario. En este sitio encontrarás información de formación, producción académica y cursos.</p>
                    <a class="btn btn-primary" routerLink="/formation">Ver Formación</a>
                    <a class="btn btn-secondary ms-2" routerLink="/production">Ver Producción</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h4>Resumen rápido</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="list-group">
                        <div class="list-group-item active">Formación</div>
                        <div *ngFor="let f of formation" class="list-group-item">
                            <strong>{{ f.title }}</strong><br>
                            {{ f.institution }} - {{ f.year }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="list-group">
                        <div class="list-group-item active">Cursos</div>
                        <div *ngFor="let c of courses" class="list-group-item">
                            <strong>{{ c.code }} - {{ c.name }}</strong><br>
                            <small>Semestre: {{ c.semester }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <app-acordeon></app-acordeon>
        </div>
    </div>
</div>
